.para{
  font-size: 24px;
  font-weight: 400;
}
.intro{
  font-size: 50px;
  font-weight: 500;
}
.container{
  display: flex;
margin-top: 150px;
margin-left: 180px;
align-items: center;
}

.imageCon{
  margin-left: 20px;
}

.button7{
  border: none;
  background-color: #27B397;
  font-size: 30px;
  color: #ffff;
  width: 300px;
  border-radius: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.logo{
  margin-left: 180px;
  margin-top: 20px;
}